.underHeader{
  min-height: 20vh;
  background-color: rgb(26, 26, 26);
  box-shadow: 1px 25px 40px 3px rgba(0,0,0,0.53);
  -webkit-box-shadow: 1px 25px 40px 3px rgba(0,0,0,0.53);
  -moz-box-shadow: 1px 25px 40px 3px rgba(0,0,0,0.53);
  display: flex;
  padding: 120px 10px 10px 40px;

  .uHeaderTitle{
    background-color: red;

    h2{
      color: white;
    }
  }

  .uHeaderImgContainer{
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    .uHeaderContainers{
      min-width: 213px;
      height: 120px;
      padding: 0;
      background-image: url('/images/header/uHeader/underHeader_1.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      color: white;
      background-color: rgb(99, 92, 92);

      

      p{
        background-color: rgba(0, 0, 0, 0.845);
        display: inline;
        padding: 2px;

      }
    }


  }
}