section.sBanner{
  display: flex;
  flex-direction: column;
  padding-top: 9dvh;

  div{
    top: 23VH;
    position: absolute;
    width: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.9892157546612395) 0%, rgba(0,0,0,0.7959384437368697) 49%, rgba(0,0,0,0) 100%); 
  }
  h1{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    color: white;
    font-family: var(--letra7);

    opacity: 0; /* Inicia cada letra con opacidad 0 (invisible) */
    transform: translateY(-20px); /* Inicia cada letra fuera del contenedor */
    animation: aparecer 1.5s ease-in forwards;

    span{
      margin: 0 5px;
    }
  }
}

@media (min-width: 700px){
  #title{
    font-size: 3em;
  }
}
@media (min-width: 1150px){
  #title{
    font-size: 3em;
  }
}

@media (max-width: 799px){
  section.sBanner div{
    top: 16VH;
  }
}

@keyframes aparecer {
  0% {
      opacity: 0;
      transform: translateY(-10px); 
  }
  100% {
      opacity: 1;
      transform: translateY(0); 
  }
}
