.wrestler-info-container {
  display: flex;
  background-color: rgb(26, 26, 26);
  padding-top: 20dvh;
  justify-content: center;
}

.wrestler-info-content {
  display: flex;
  width: 90%;
  border: 1px solid white;
  justify-content: center;
  flex-direction: column;
}

.wrestler-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  padding: 10px;


  .wrestler-image-name{
    background-color: red;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;

    h3{
      margin: 0;
    }

  }

  img {
    height: 50vh;
    border: 5px solid black;
  }
}


.wrestler-details {
  text-align: justify;
  color: white;
  padding: 10px;

  h3,h4{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    background-color: red;
    display: inline;
  }

  .wrestler-details-text{
    font-size: 20px;
    padding: 15px;

  }
}

.wrestler-details-h-p-container{
  display: flex;
  flex-direction: row;
  


  .wrestler-details-h{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .wrestler-details-p{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 15px;
  }

  p{
    font-size: 1.2rem;
    margin: 0;
  }
}


@media (min-width: 756px) {
.wrestler-info-content{
  flex-direction: row;

  .wrestler-details{
    margin-left: 5%;
  }
  h4{
    font-size: 1.5rem;
  }

  .wrestler-details-p{
    p{
      font-size: 1.3rem;
    }
    }
  }
}

@media (min-width: 1100px) {
  .wrestler-info-content{
    flex-direction: row;
    h4{
      font-size: 1.9rem;
    }
  
    .wrestler-details-p{
      p{
        font-size: 1.7rem;
      }
      }
    }
}
