.t-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 8vw;
  background: radial-gradient(circle, rgb(33, 33, 33) 0%, rgb(74, 74, 74) 50%, rgb(28, 28, 28) 100%);
  
}

summary{
  list-style: none;
}

.t-card-info{
  height: 10vh;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-align: center;

  .t-card-info-date{
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: red;
    color: white;
  }

  .t-card-info-mainEvent{
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
  }

  .t-card-info-brand{
    height: 100%;
    padding: 10px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
  }



  .t-card-info-logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logoTitle{
      height:5vh;
    }
  }
}


/* .t-card-new-container{
  padding: 10px;
  display: flex;
  justify-content: center;

  .t-card-show{
    height: 13vh;
    width: 100%;
    background-color: blue;
  }
} */

/* Estilo general */
.t-card-new-container {
  padding: 10px;
}

/* Estilo del contenedor del evento */
.t-card-show {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  color: white;
}

/* Estilo del texto informativo */
.t-card-show-info p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}



@media (min-width: 1025px) {
  
}

@media (min-width: 750px) and (max-width: 1024px) {

}
