.t-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20vh 15vw;
  background: radial-gradient(circle, rgb(33, 33, 33) 0%, rgb(74, 74, 74) 50%, rgb(28, 28, 28) 100%);
}

summary{
  list-style: none;
}

.t-card{
  display: flex;

}

.t-card-info{
  height: 10vh;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  align-items: center;

  .t-card-info-date{
    width: 15vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-size: 2rem;
    border-radius: 0 10px 10px 0; /* Radios de las esquinas */
    
  }

  .t-card-info-logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logoTitle{
      height:5vh;
    }

  }
}

.t-card-day{
  height: 10vh;
  /* width: 30%; */
  background-color: magenta;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.t-card-link{
  display: flex;
  text-decoration: none;
  color: white;
}

/* Estilos del summary */

.t-card-new-container{
  padding: 10px;
  background-color: violet;
  display: flex;
  justify-content: center;

  .t-card-show{
    height: 13vh;
    width: 80%;
    background-color: blue;
  }
}

@media (min-width: 1025px) {

}

@media (min-width: 750px) and (max-width: 1024px) {
  h4{
    color: red;
  }
}
