#header{
  background-color: rgb(33, 32, 32);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0 10px 50px 10px;
}

.hMenuContainer{
  display: none;
  
  :hover{
    color: grey;
  }
}
  
.hLogoContainer{
  display: flex;
  gap: 2vw;
  margin: 10px;

  img{
      height: 10vh;
  }
}

.hTextContainer{
  display: flex;
  align-items: center;
  


  ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 2vw;
    margin: 0;
    font-size: 1.3rem;
    font-weight: bolder;

    a{
      color: white;

      svg{
        color: white;
      }
    }

    /* a:hover{
      color: rgb(255, 255, 255);
    } */
  }


}

a.header-icons{
  color: white;
}

.hNetWork{
  display: flex;
  align-items: center;
  
  .hIconNetWork{
    display: flex;
    align-items: center;
    color: white;
    border-radius: 30px;
    padding: 7px;

    a{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 6vh;
      }   
    }
    
  }

  .separator{
    background-color: rgb(79, 79, 79);
    height: 60px;
    border-radius: 50%;
    width: 2px;
    margin: 0 1vw;
  }

  ul{
    display: flex;
    gap: 2.5vw;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
    color: white;
    margin: 20px;

    a:hover{
      color: grey;
    }
  }
}

.hIconNetWork:hover{
  background-color: rgba(68, 68, 68, 0.177);
}




@media (max-width: 1040px) {
  .hTextContainer{
    ul{
      display: none;
    }
  }



  .hMenuContainer{
    display: flex;
    align-items: center;
    color: white;
    font-size: 3rem;
    margin: 10px;
    padding: 15px;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .hIconNetWork{
    display: block;
    position: fixed;
    top: -100px
  }

}