section.sBanner{
  display: flex;
  flex-direction: column;
  text-align: center;

  img{
    min-height: 37dvh;
  }

  h2{ 
    position: absolute;
    color: white;
    font-size: 4rem;
    margin: 40px;
    z-index: 0;
  
    span{
      margin: 0 20px;
    }
    
  }
}




@media  (max-width: 750px) {
  section.sBanner h2{
    font-size: 1.8rem;
  }
}
