.account {
  display: flex;
  justify-content: center;
  background-image: url('/images/main/account/AccountBackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.596);
  padding: 16vh 2vw;

  button {
    width: 20%;
    padding: 5px;
    margin: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }

  input {
    display: block;
    width: 90%;
    margin: 5px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid red;
    font-family: var(--letra6);
  }
}

.account-cont{
  display: flex;
  flex-direction: column;
  background-color: rgb(45, 0, 0);
  background: transparent;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  box-shadow: 0 0 48px 20px rgb(0, 0, 0);
  border: 1px solid white;
  padding: 5px;
}

.account-qr{
  display: flex;
  justify-content: center;
  img{
    height: 20vh;
    max-width: 40vw;
    margin: 10px;
  }
}

.account-right{
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    height: 56vh;
    border-radius: 10px;
  }
}

.account-icon-g{
  color: rgb(255, 218, 150);
}
.account-icon-f{
  color: blue;
}



label {
  color: rgb(255, 0, 0); 
  font-size: 1.9rem;

  p{
    padding: 8px;
    margin: 0;
    font-family: var(--letra7);
  }
}





.account-login{
  margin-bottom: 30px;
  width: 95%;
}

button:hover {
  background-color: darkred;
}

form {
  display: flex;
  flex-direction: column;

  .login-with{
    display: flex;
    justify-content: space-around;
    
    button{
      width: fit-content;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 750px) {
  .account-cont{
    flex-direction: row;
    padding: 15px;
  }

  .account-inputs{
    margin: 0;
    padding: 0;
    padding-top: 7%;
  }

}