footer {
  color: whitesmoke;
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  background: rgb(36,36,36);
  background: linear-gradient(0deg, rgba(36,36,36,1) 43%, rgba(0,0,0,1) 90%); 

  .fBlock {
    width: 300px;
    text-align: center;
    margin: 3vh 0 3vh;

    h3 {
      margin: 0;

      a {
        text-decoration: none;
        color: rgb(204, 204, 204);
        position: relative;
      }

      a:hover {
        color: rgb(229, 67, 67);
      }
    }

    ul {
      list-style: none;
      padding: 0px;
      li {
        padding: 5px;
        a {
          /* text-decoration: none; */
          color: rgb(182, 182, 182);
          position: relative;
        }
      }

      a::after {
        width: 0;
        height: 2px;
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: 2s;
        transition: width 0.3s ease-in-out;
        background: red;
      }

      a:hover::after {
        width: 100%;
      }
    }
  }

  .fLogo {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 150px;
      width: 180px;
    }
    p {
      margin: 0;
    }
  }
}
